
@{
    ViewBag.Title = "Index";
}

    <html style="overflow:hidden">


    <body style="margin:0">

        <canvas id="myCanvas" style="width:100%; height:100%;position:absolute;background-size:100% 100%; margin:0; background-image:url('/export-map-share.png')"></canvas>

        <script>
        /*
        <head>
    <link href="~/Content/IndexSheet.css" rel="stylesheet" type="text/css" />

</head>*/
                                            alert("index");

        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        c.width = window.innerWidth;
        c.height = window.outerHeight;
        ctx.canvas.width = c.width;
        ctx.canvas.height =c.height;

        lon =  parseFloat(@ViewBag.lon);
        lat = parseFloat(@ViewBag.lat);
        var newLon = (lon + 180) * (c.height / 360);
        var newLat = (lat - 90) * (c.height / -180);

        ctx.beginPath();
        ctx.arc(newLon, newLat, 2, 0, 2 * Math.PI);
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.strokeStyle = 'red';
        ctx.stroke();
        ctx.closePath();
        </script>

    </body>
    </html>
