
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <link href="~/Content/IndexSheet.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <canvas id="myCanvas" style="width:100%; height:100%;"> </canvas>

    <script>
        var c = document.getElementById("myCanvas");
       
        var ctx = c.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        ctx.beginPath();
        var lon = @ViewBag.lon;
        var lat = @ViewBag.lat;
        var newLon = (lon + 180) * (c.height / 360);
        var newLat = (lat + 90) * (c.height / 180);
        ctx.arc(newLon, newLat, 5, 0, 2 * Math.PI);
        ctx.strokeStyle = 'black';
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.stroke();
    </script>

</body>
</html>
