
@{
    ViewBag.Title = "Save";
}

<html style="overflow-y:hidden">

<head>
    <link href="~/Content/IndexSheet.css" rel="stylesheet" type="text/css" />
    
</head>

<body>

    <canvas id="myCanvas" style="width:100%; height:100%"></canvas>
   

    <script>
        
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;

        var oldLon = -1;
        var oldLat= -1;

        var IntervalTime = 1000 / @Session["time"]
        myTimer = (function () {
        $.post( "@Url.Action("saveToFile")").done(function (xml) {
            var xmlDoc = $.parseXML(xml),
                $xml = $(xmlDoc);

            lon = $xml.find("Lon").text();
            lat = $xml.find("Lat").text();

            lon =  parseFloat(lon);
            lat = parseFloat(lat);
            var newLon = (lon + 180) * (c.width / 360);
            var newLat = (lat + 90) * (c.height / 180);

            if (oldLon == -1 && oldLat == -1) {
                ctx.beginPath();
                ctx.arc(newLon, newLat, 3, 0, 2 * Math.PI);
                ctx.fillStyle = 'red';
                ctx.fill();
                ctx.strokeStyle = 'red';
                ctx.lineWidth = 3;
                ctx.stroke();
                ctx.closePath();
                oldLon = newLon;
                oldLat = newLat;
            } else {
                ctx.moveTo(oldLon, oldLat);
                ctx.lineTo(newLon, newLat);
                ctx.strokeStyle = 'red';
                ctx.lineWidth = 3;
                ctx.stroke();
                oldLon = newLon;
                oldLat = newLat;
            }

            });
        });

        var interval = setInterval(myTimer, IntervalTime);
        setTimeout(function () { clearInterval(interval) }, @Session["saveTime"] * 1000);
        myTimer();

    </script>

</body>
</html>

